* {
    font-family: 'Lobster', cursive;
}

header {
    height: 14rem;
    background-image: url('assets/bg_header.jpg');
    margin-bottom: 1.3rem;
}

h1 {
    text-align: center;
    padding-top: 1.3rem;
}

.nav {
    font-size: 1.3rem;
}

.dropdown-menu {
    border: none;
    min-width: 3rem;
    background-color: rgba(0, 0, 0, 0);
}

.nav-link {
    padding-bottom: 0;
}

footer {
    height: 5rem;
    background: rgb(219, 218, 218);    
}

footer p {
    text-align: center;
    line-height: 0.8;
}

footer p a {
    color: black;
}

footer p a:hover {
    text-decoration: none;
}

.first {
    padding-top: 0.3rem;
}