* {
    font-family: 'Lobster', cursive;
}

header {
    height: 14rem;
    background-image: url('assets/bg_header.jpg');
    margin-bottom: 1.3rem;
}

h1 {
    text-align: center;
    padding-top: 1.3rem;
}

.nav {
    font-size: 1.3rem;
}

.dropdown-menu {
    border: none;
    min-width: 3rem;
    background-color: rgba(0, 0, 0, 0);
}

.nav-link {
    padding-bottom: 0;
}

.row {
    margin-left: 1.3rem;
    text-align: justify;
    font-size: 1.2rem;
}

.row .col-8 {
    text-indent: 1.5rem;
}

.row p span {
    color: red;
}

.col-4 {
    text-align: center;
    padding: 2rem;
}

h3 {
    color: #0275d8;
}

.btn {
    font-family: 'Lobster', cursive;
}

.cub {
    position: relative;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: 2.5rem;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    animation: rotate 40s infinite linear;
}

.cub p {
    position: absolute;
    height: 100%;
    width: 100%;
    border: solid 1px #90b7eb;
}

.cub p a img {
    height: 200px;
    width: 200px;
}

.size1 {
    transform: translateZ(100px);
}

.size2 {
    transform: translateZ(-100px) rotateY(180deg);
}

.size3 {
    transform: rotateY(-270deg) translateX(100px);
    transform-origin: top right;
}

.size4 {
    transform: rotateY(270deg) translateX(-100px);
    transform-origin: center left;
}

.size5 {
    transform: rotateX(-270deg) translateY(-100px);
    transform-origin: top center;
}

.size6 {
    transform: rotateX(270deg) translateY(100px);
    transform-origin: bottom center;
}

@keyframes rotate {
    from {
        transform: rotateX(0deg) rotateY(0deg);
    }
    to {
        transform: rotateX(360deg) rotateY(360deg);
    }
}

footer {
    height: 5rem;
    background: rgb(219, 218, 218);
}

footer p {
    text-align: center;
    line-height: 0.8;
}

footer p a {
    color: black;
}

footer p a:hover {
    text-decoration: none;
}

.first {
    padding-top: 0.3rem;
}