@media screen and (min-width: 768px) {
  iframe[title="geowidget"] {
    width: 640px;
    height: 480px;
  }
}
@media screen and (max-width: 767px) {
  iframe[title="geowidget"] {
    width: 530px;
    height: 410px;
  }
}
@media screen and (max-width: 576px) {
  iframe[title="geowidget"] {
    width: 390px;
    height: 310px;
  }
}
@media screen and (max-width: 425px) {
  iframe[title="geowidget"] {
    width: 340px;
    height: 250px;
  }
}
@media screen and (max-width: 375px) {
  iframe[title="geowidget"] {
    width: 290px;
    height: 250px;
  }
}