.row {
  margin-left: 1.3rem;
  text-align: justify;
  font-size: 1.2rem;
}

.row .col-8 {
  text-indent: 1.5rem;
}

.row p span {
  color: red;
}

.flex-column-markup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
