* {
    font-family: 'Lobster', cursive;
}

header {
    height: 14rem;
    background-image: url('assets/bg_header.jpg');
    margin-bottom: 1.3rem;
}

h1 {
    text-align: center;
    padding-top: 1.3rem;
}

.nav {
    font-size: 1.3rem;
}

.dropdown-menu {
    border: none;
    min-width: 3rem;
    background-color: rgba(0, 0, 0, 0);
}

.nav-link {
    padding-bottom: 0;
}

.row {
    margin-left: 1.3rem;
    text-align: justify;
    font-size: 1.2rem;
}

.row .col-8 {
    text-indent: 1.5rem;
}

.row p span {
    color: red;
}

.col-4 {
    text-align: center;
    padding: 2rem;
}

h3 {
    color: #0275d8;
}

.btn {
    font-family: 'Lobster', cursive;
}

@keyframes spincub {
    from, to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateY(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}

.cubspinner {
    animation-name: spincub;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 25s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
}

.cubspinner div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #8ECBDE;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 0 20px #8ECBDE;
    line-height: 200px;
    text-align: center;
    font-size: 200px;
    color: #55BEDE;
}

.cubspinner .size1 {
    transform: translateZ(100px);
}

.cubspinner .size2 {
    transform: rotateY(90deg) translateZ(100px);
}

.cubspinner .size3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.cubspinner .size4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.cubspinner .size5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.cubspinner .size6 {
    transform: rotateX(-90deg) translateZ(100px);
}

.cub {
    height: 200px;
    width: 200px;
    position: relative;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: 2.5rem;
}

.cub, .cub .cubspinner div a img {
    height: 200px;
    width: 200px;
    vertical-align: baseline;

}

footer {
    height: 5rem;
    background-image: url('assets/bg_header.jpg'); 
    background-position: 50% 55%;  
}

footer p {
    text-align: center;
    line-height: 0.8;
}

footer p a {
    color: black;
}

footer p a:hover {
    text-decoration: none;
}

.first {
    padding-top: 0.3rem;
}